body{
    background:radial-gradient(circle,red 20%  ,yellow) ;
    font-family: "Calibri Light",Arial,serif;
    margin: auto;
}
h1{
    padding: 10px;
   text-align: center;
    color: lightgray;
    text-decoration: underline lightgray;
}
main{
    padding: 0;
    margin: 0;
}
#warning{

}

#info{
    border: solid white 4px ;
    border-radius: 30%;
    max-width: 30%;
    flex-basis: 100%;
    min-width: 220px;
}
h2{
    margin-left: 20%;
    padding: 0;
    margin-bottom: 10px;
}
input{
    margin-left: 20%;
    display: flex;
    max-width: 60%;
    margin-bottom: 20px;
}
main>#info{
    flex-basis: 50%;
    flex-wrap: wrap;
}
#loginbutton,#registerbutton,#newreg,#cancelbutton{
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #78fffd), color-stop(1, #25faef) );
    /*background:-moz-linear-gradient( center top, #78fffd 5%, #25faef 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#78fffd', endColorstr='#25faef'); */
    text-indent:0;
    border:2px solid #141413;
    display:inline-block;
    color:#030003;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:65px;
    line-height:65px;
    width:131px;
    text-decoration:none;
    margin-top: 20px;
    min-width: 100px;
}
#newreg,#cancelbutton{
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #78fffd), color-stop(1, #25faef) );
   /*background:-moz-linear-gradient( center top, #78fffd 5%, #25faef 100% );
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#78fffd', endColorstr='#25faef'); */
    text-indent:0;
    border:2px solid #141413;
    //display:inline-block;
    display: flex;
    color:#030003;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:65px;
    line-height:65px;
    width:131px;
    text-decoration:none;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
#logininfo{
    display: flex;
    margin: auto;
    flex-direction: column;
    flex: auto;
    /*position: center;
    padding: auto; */
    justify-content: center;
    align-items: center;
}
#buttons{
    min-width: 15%;
    flex-basis: 100%;
}
#cancelbutton{
    background: red;
}
#newusernamelabel,#newpswlabel,#emaillabel,#languagelabel{
    margin-top: 10px;
    margin-right: 20%;
}
#newusername,#newpsw,#newemail,#language{
    left: 0;
    margin-left: 0;
    margin-top: 10px;
    min-width: 50%;
}
#newuser{
  margin: auto;
    text-decoration: black underline;
}
.panel{
    margin: auto;
    display: none;
    position: center;
    z-index: 1;
    top: 0;
    width: 40%;
    height: 40%;
    overflow: auto;
    background-color: rgb(211,211,211);
    border: black 2px solid;
    padding-top: 60px;
    min-width: 300px;
}
.panel-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 50%;
}
.container{
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
}
@media all and(max-width: 640px){
    #info{
        min-width: 25%;
        flex: 100%;
    }
    #logininfo{
        min-width: 100%;
        flex: 100%;
        margin-right: auto;

        text-align: center;
    }
    input{
        /*margin-left: auto;
        min-width: 70%;*/
    }
    #id01{
        margin: auto;
    }
    #loginbutton,#registerbutton,#newreg,#cancelbutton{
        min-width: 100px;
    }
    #buttons{
        align-content: center;
        margin-left: 0;
    }

}


