.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 100%;
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
body{
    margin: 0;
    padding: 0;
}
a,input{
    margin: 10px;
}
#links,#searchdiv{
    display: flex;
    flex-direction: row;
    margin: auto;
    flex: auto;
    max-width: 20%;
    min-width: 25%;
}
h3,h1{
    text-align: center;
}
@media all and (max-width: 640px) {
    #links{
        margin-left: 20%;
    }
    #buttons{
        margin-left: 25%;
    }
    #searchdiv,input{
        margin-left: 20%;
    }
    a{
        margin-left: 30%;
    }
}
