body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
h3,h1{
    text-align: center;
}
a{
    margin: 10px;
}
#links{
    display: flex;
    flex-direction: row;
    flex: auto;
    max-width: 20%;
    min-width: 20%;
    margin-left: 35%;
}
#ratediv{
    display: flex;
    margin-left:47%;
}
#comment{
    display: flex;
    margin-left:40%;
}
#writeRatingdiv{
    display: flex;
    margin-left:42%;
}
#starimage{
    width: 50px;
    height: 50px;
}
#attractionInfo{
    margin:auto;
}
#attractionHeader{
    text-align: center;
    text-decoration: underline black;
}
#attractionImage{
    display: block;
    margin: auto;
}
#attractionContent{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border: 2px black solid;
    padding: 5px;
}
#list{
    padding: 2px;
    list-style: none;
    background: lightgrey;
    width: 100%;
}
#authorlabel{
    font-weight: bold;
}
input,h3{
    margin-left: 5%;
}
#commentdiv{
   margin: 5%;
}
#list{
    border: 2px solid black;
}
#writeRatingdiv{
    margin-left: 40%;
}
@media all and (max-width: 640px) {
    #commentdiv{
        min-width: 200px;
    }
    #attractionInfo{
       min-width: 200px;
    }
    #links{
        margin-left: 20%;
    }
    #writeRatingdiv{
        margin-left: 30%;
    }

}

