body{
    margin: 0;
    padding: 0;
}
#map{
    width: 100%;
    height: 40%;
}
h3,h1{
    text-align: center;
}
#links{
    display: flex;
    flex-direction: row;
    margin: auto;
    flex: auto;
    max-width: 20%;
    min-width: 20%;
}
a,input{
    margin-left: 10px;
    margin-right: 10px;
}
@media all and (max-width: 640px) {
    #links{
        margin-left: 20%;
    }
}
