body{
    margin: 0;
    padding: 0;
}
a,input{
    margin: 10px;
}
#settings{
    display: flex;
    flex-direction: column;
    margin: auto;
    flex: auto;
    max-width: 55%;
    min-width: 55%;
}
button{
    width: 140px;
    margin-left: 35%;
}
#links{
    display: flex;
    flex-direction: row;
    margin: auto;
    flex: auto;
    max-width: 20%;
    min-width: 20%;
}
h3,h1{
    text-align: center;
}
#logoutbutton{
    margin-top: 25px;
}
#logoutbutton{
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #78fffd), color-stop(1, #25faef) );
    /*background:-moz-linear-gradient( center top, #78fffd 5%, #25faef 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#78fffd', endColorstr='#25faef'); */
    text-indent:0;
    border:2px solid #141413;
    display:inline-block;
    color:#030003;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:65px;
    line-height:65px;
    width:131px;
    text-decoration:none;
    min-width: 100px;
    margin-top: 25px;
    background: red;
}
@media all and (max-width: 640px) {
    #links{
        margin-left: 20%;
    }
    #buttons{
        margin-left: 0;
    }
}